body{
    font-family: 'Raleway', sans-serif;
    background: beige;
}

.header_div{
    background: white;
    color: red;
}

.header_div p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: navy;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 5px 5px 5px grey;
}

.main_div_button{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}